.homepage {
  //already repeat
  display: grid;
  grid-template-columns:
    [full-start] minmax(5rem, 1fr) [center-start] repeat(
      12,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end]
    minmax(5rem, 1fr) [full-end];
}
