.shop-page {
  display: grid;
  grid-template-columns:
    [full-start] minmax(5rem, 1fr) [center-start] repeat(
      12,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end]
    minmax(5rem, 1fr) [full-end];
}

.collection {
  grid-column: center-start / center-end;
  padding: 3rem 0;

  &__title {
    font-size: 28px;
    margin-bottom: 25px;
  }

  &__preview {
    //collection-item's container
    display: grid;
    grid-template-columns: repeat(4, minmax(20rem, 1fr));
    grid-gap: 3rem;
  }
}

.collection-item {
  &__photo {
    width: 100%;
    height: 33rem;
    object-fit: cover;
  }

  &__footer {
    display: flex;
    font-size: 2rem;
    font-weight: lighter;
  }
  &__name {
    margin-right: auto;
    font-weight: inherit;
  }

  &__price {
    font-weight: inherit;
  }
}
