.homepage {
  //already repeat
  display: grid;
  grid-template-columns:
    [full-start] minmax(5rem, 1fr) [center-start] repeat(
      12,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end]
    minmax(5rem, 1fr) [full-end];
}

.directory-menu {
  //already repeat
  grid-column: center-start/center-end;
  padding: 3rem 0;
  //till above
  display: grid;
  grid-template-columns: repeat(6, [col-start]1fr[col-end]);
  grid-template-rows: 240px 320px;
  grid-gap: 2rem;
}

.menu-item {
  position: relative;
  border: 1px solid black;
  overflow: hidden;
  cursor: pointer;

  &--1 {
    grid-column: col-start 1 / col-end 2;
  }

  &--2 {
    grid-column: col-start 3 / col-end 4;
  }

  &--3 {
    grid-column: col-start 5 / col-end 6;
  }

  &--4 {
    grid-column: col-start 1 / col-end 3;
  }

  &--5 {
    grid-column: col-start 4 / col-end 6;
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    backface-visibility: hidden;
    transform: scale(1);
  }

  &:hover &__img {
    transition: all ease 10s;
    transform: scale(1.4);
  }

  &:hover .content {
    opacity: 0.9;
  }
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90px;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: #fff;
  opacity: 0.7;

  .title {
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 22px;
    color: #4a4a4a;
  }

  .subtitle {
    font-weight: lighter;
    font-size: 16px;
    text-transform: uppercase;
  }
}
