.header {
  display: flex;
  height: 8rem;
  //padding 要再想一下寫在哪裡更好
  padding: 0 5rem;
}

.logo-box {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav {
  display: flex;
  align-items: center;
  font-size: 2rem;

  &__list {
    list-style: none;
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    padding: 1rem 2.5rem;
    color: inherit;
    font-size: inherit;
    text-decoration: none;

    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      top: 0;
      left: 0;
      width: 0px;
      height: 0px;
      border-top: 1px solid black;
      border-left: 1px solid black;
      z-index: -1;
      transition: all 0.3s;
    }

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      bottom: 0;
      right: 0;
      width: 0px;
      height: 0px;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      z-index: -1;
      transition: all cubic-bezier(0.98, -0.03, 0.46, 0.84) 0.5s;
    }

    &:hover {
      &::after,
      &::before {
        width: 100%;
        height: 100%;
      }
    }
  }
}
